.box{
    width:250px;
    height: 250px;
    background-color:aqua;
    display: inline-block;

}
.box1 {
    width:250px;
    height:250px;
    background-color:brown;
    display:inline-block;
}
.box2 {
    width:250px;
    height:250px;
    background-color:chartreuse;
    display:inline-block;
<<<<<<< HEAD
=======
}
.box5 {
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    border-radius: 20%;
    text-align: center;
    margin-left: 200px;
>>>>>>> add-image
}